.main-container{
  height: 100vh;
display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  width: 705px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:15px
}

.card {
  height: 165px;
  width: 165px
}

.text-class {
  font-family: monospace;
  padding-bottom: 10px;
}
